@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    box-sizing: border-box;
}

/* Mobile First */

h1,h2,p {
    margin-left: 15px;
}

h1 {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
}

h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

img {
    margin-left: -25px;
    
    width: 8.6875rem;
    height: 13.125rem;
}

figure {
    margin-right: -27px;
    width: 155px;
    height: 247px;
    position: relative;
}

.photos {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

figcaption {
    white-space: nowrap;    
}

.names {
    margin-top: 10px;
    margin-left: -25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;   
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.roles {
    width: 130px;
    height: 11px;
    position: absolute;
    margin-left:50px;
    transform: rotate(90deg) translate(-154px,-10px); 
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;
    color: #000000; 
}

figure:not(.indented){
    margin-top: 50px;
  }
  

  .indented {
    margin-top: 95px;
}

/* DESKTOP */

